<div class="max-w-xl">
    <div class="p-4 flex">
        <h1 class="text-3xl">
          <%= @work.title %>
        </h1>
    </div>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <tbody>
          <tr>
            <th>ID</th>
            <td><%= @work.id %></td>
          </tr>
          <tr>
            <th>Random words</th>
            <td>
              <%= @work.three_words.pluck(:name).join('・') %>
            </td>
          </tr>
          <tr>
            <th>PenName</th>
            <td>
              <%= link_to @work.user.penname, admin_user_path(@work.user), class: 'btn btn-link link-secondary normal-case' %>
            </td>
          </tr>
          <tr>
            <th>Title</th>
            <td><%= @work.title %></td>
          </tr>
          <tr>
            <th>Content</th>
            <td class='whitespace-normal'><%= @work.content %></td>
          </tr>
          <tr>
            <th>登録日</th>
            <td><%= l @work.created_at, format: :long %></td>
          </tr>
        </tbody>
      </table>
      <div class="p-4 flex justify-between">
        <%= link_to '戻る', admin_works_path, class: 'btn btn-link link-secondary' %>
        <%= link_to '編集', edit_admin_work_path(@work), class: 'btn btn-link link-secondary' %>
        <%= button_to '削除する', admin_work_path, method: :delete, class: 'btn btn-accent' %>
      </div>
</div>

